.container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.bg-green{
  background-color: green;
}
.bg-red{
  background-color: red;
}
.col{
  flex-direction: column;
}
.row{
  flex-direction: row;

}
.card{
  display:flex;
  justify-content: center;
  align-items: center;
  width:125px;
  height:125px;
  border-radius: 10px;
  background-color: red;
  margin:10px;
  
  align-items: center;
  justify-content: center;

  color:gold;
  font-size: 48px;

  /* transition: width 0.2s, height 0.2s, margin 0.2s; */
}
.card:hover{
  width:135px;
  height:135px;
  margin-top:-5px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom: -5px;
  /* transition: width 0.2s, height 0.2s, margin 0.2s, margin-top 0.2s, margin-bottom 0.2s, margin-left 0.2s, margin-right 0.2s, ; */
}
.card-stop{
  margin:10px;
}
.title{
  font-size: 84;
  font-weight: 800;
}
.question{
  width:80%;
  height:80%;
  position:absolute;
  top:0;
  left:0;
  background-color: gray;
}
.scoretile{
  padding:10px;
  margin:10px;
  width:250px;
  /* height:100px; */
  border-radius: 10px;
  background-color: yellow;
  display: flex;
  flex-direction: column;

}
.score-button{
  width:50px;
  height:50px;
  border-radius:25px;
}
.score-text{
  font-size: 72px;
  color:green
}
.scorecard-button{
  width:20px;
  height:20px;
  border-radius: 10px;
  color:gold;
  font-size: 18px;
  font-weight: 800;
  border-style: none;  
  background-color: transparent;

}
.scorecard-button:hover{
  background-color: gray;

}